//  SCSS Mixins 

@mixin easeIn {
	-webkit-transition: all 0.5s ease; 
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease; 
}
@mixin icons {
  display: block;
  float: left;
  text-indent: -9999px;
  margin-right: 15px;
  width: 42px;
  height: 38px;
  background-size: 42px 42px;
}
@mixin icons-mq {
  width: 62px;
  height: 62px;
  background-size: 62px 72px;
  position: absolute;
  background-color: #f8f8f8;
  border-radius: 4px;
  margin: -35px auto;
  left: 0;
  right: 0;
}