// Main Navbar
.navbar { width: 100%; text-align: center; padding: 0 .75rem ; background-color: $navbar-color;	 z-index: 9000; letter-spacing: .05rem; }
.navbar .brand { padding: 1rem 0.35rem 0 0.35rem; }
.navbar .brand a, .navbar .brand a:hover  { text-align: center; font-size: 1.3rem !important; line-height: 1.125rem;  }
.navbar ul { display: inline-block; }
.navbar li { padding: 1.0rem .35rem; line-height: $navbar-line-height; float: left; cursor: pointer;}
.navbar a { color: rgba(255, 255, 255, 0.75);	text-decoration: none; font-size: .75rem;  }
.navbar a:hover { text-decoration: none; color: #fff; }
.navbar .active a { text-decoration: none; color: #fff; font-weight: 600; }

// Navbar Buttons
.navbar .btn-solid { border-radius: 0; background:$navbar-button-color;  }
.navbar .btn-outlined { border-color:$navbar-button-outline-color; padding: 10px 15px; font-weight: 600; font-size: .75rem; }
.navbar .btn-outlined:hover { color:#fff; border: 1px solid $navbar-button-outline-color-hover; background: $navbar-button-color-hover; }

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .navbar .brand  { float: left; display: inline-block; padding: 1.25rem .875rem 1.25rem .45rem; }
  .navbar a { font-size:$navbar-font-size-sm; }
  .navbar ul { display: inline-block; float: left; }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .navbar a { font-size: $navbar-font-size-md;  }
}